<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Peoples</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>

<body data-bs-theme="dark" class="bg-dark text-light">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="index">
                <i class="fas fa-search text-warning me-2"></i>
                SearchPeoples
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="index"><i
                                class="fas fa-home me-1"></i>Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="register"><i
                                class="fas fa-user-plus me-1"></i>Cadastrar Pessoa</a></li>
                    <li class="nav-item"><a class="nav-link" href="search"><i class="fas fa-search me-1"></i>Buscar
                            Desaparecidos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4 fw-bold text-primary-emphasis mb-4">
                    Lista de Registros
                </h1>

                <!-- Campo de busca -->
                <form method="GET" class="mb-4">
                    <div class="input-group">
                        <span class="input-group-text">Buscar</span>
                        <input type="text" class="form-control" id="searchPeople" name="search"
                            placeholder="Busque por um nome">
                    </div>
                    <hr>

                </form>

                <!-- Lista de usuários -->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">CPF</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Dada</td>
                            <td>dada@test.com</td>
                            <td>111.666.444-00</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning">Editar</button>
                                <button type="button" class="btn btn-outline-info">Excluir</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Lulu</td>
                            <td>lulu@test.com</td>
                            <td>@444.444.444-44</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning">Editar</button>
                                <button type="button" class="btn btn-outline-info">Excluir</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mimi</td>
                            <td>mim@test.com</td>
                            <td>666.111.664-01</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning">Editar</button>
                                <button type="button" class="btn btn-outline-info">Excluir</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Dada</td>
                            <td>dada@test.com</td>
                            <td>111.666.444-00</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning">Editar</button>
                                <button type="button" class="btn btn-outline-info">Excluir</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Dada</td>
                            <td>dada@test.com</td>
                            <td>111.666.444-00</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning">Editar</button>
                                <button type="button" class="btn btn-outline-info">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        < <!-- FOOTER -->
            <footer class="bg-secondary text-center py-3 mt-auto">
                <div class="container">
                    <p class="mb-0">&copy; 2025 - Todos os direitos reswevados!</p>
                </div>
            </footer>

            <!-- Script -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>
</body>

</html>